.settings {
    box-shadow: rgba(0, 0, 0, 0.04) 0px 0 5px 0px;

    border-radius: 10px;

    width: 100%;
    max-height: auto;

    padding: 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    background-color: white;
}


/* HEADER */

.header {
    display: flex;
}
.header_back {
    display: flex;
    align-items: center;

    color: #232323;

    cursor: pointer;
    padding: 3px 5px;
    border-radius: 5px;

    background: none;
    outline: none;
    border: none;
}
.name {
    font-size: 16px;
    font-weight: 600;
    margin-left: 5px;
}

.header_back:hover {
    transition: .4s;
    background: rgb(236, 242, 252);
}

/* CONTENT */

.content {
    padding: 20px 0 0 0;
}

