.profile {
    display: flex;
    justify-content: space-between;
}

.left {
    width: 330px;
}

.right {
    width: 620px;
}


.menu {
    display: none;

    max-width: 700px;

    margin: 0 auto;
}




@media screen and (max-width: 1000px) {
    .left {
        width: 100%;
    }
    .right {
        display: none;
    }

    .menu {
        display: block;
    }
}