.question {
    display: flex;
    justify-content: space-between;
}


.left {
    display: flex;
    flex-direction: column;

    height: 100%;
    width: 630px;
}



.right {
    display: flex;
    flex-direction: column;

    width: 310px;
    height: 100%;
}

.title_answers {
    margin: 30px 0;

    font-weight: 700;
    font-size: 20px;
    color: #494949;
}