.settings {
    display: flex;
    justify-content: space-between;

    height: 100%;

    padding: 0 0 20px 0;
}


.left {
    display: flex;
    flex-direction: column;

    height: 100%;
    width: 630px;
}



.right {
    display: flex;
    flex-direction: column;

    width: 310px;
    height: 100%;
}


@media screen and (max-width: 1000px) {
    .left {
        display: block;
        max-width: 630px;

        margin: 0 auto;
    }
    .right {
        display: none;
    }
}