.filtred_question {
    box-shadow: rgba(0, 0, 0, 0.04) 0px 0 5px 0px;

    border-radius: 10px;

    width: 310px;
    height: auto;


    padding: 15px;

    background-color: white;
}

/* HEADER */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.title {
    color: #232323;

    font-weight: 600;
    font-size: 17px;
}

/* CONTENT */

.content {
    padding-top: 15px;
}

.class {
    margin-top: 15px;
}