
.toolbar {
    box-shadow: rgba(0, 0, 0, 0.04) 0px 0 5px 0px;

    border-radius: 10px;

    width: 100%;
    max-height: auto;

    margin-top: 10px;

    display: flex;
    flex-direction: column;

    padding: 8px 10px;

    background-color: white;
}

/* --- */

.menu {
    display: flex;
}

.btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: #4971FF;
    font-size: 15px;
    font-weight: 600;

    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    
    padding: 5px 10px;
    border-radius: 10px;
}
.btn:hover {
    transition: .3s;

    background-color: #DEEBFF;
}

.btn_name {
    line-height: 18px;
}


