.dropdown {
    position: absolute;
    top: 60px;
    right: 0;

    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.16);
    border-radius: 8px;

    min-width: 220px;
    height: auto;


    padding: 8px;

    background-color: white;

}